.App {
  text-align: center;
}



.App-link {
  color: #61dafb;
}


.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
  z-index: 100;
}

.button {
  margin: 15px;
}

.topright:hover .settingsmenu{display:block;}

.settingsmenu:hover .settingsmenu{display:block;}

.settingsmenu {
  position: absolute;
  display:none;
  right:0px;
  top:5px;
  min-width: 250px;
  z-index: 99;
  background-color:rgba(128,128,128,0.3);
  padding: 1em;

}
